<!--The content below is only a placeholder and can be replaced.-->
<h1>Should we order some Apps?</h1>



<div>
    

        <table>
            <tr>
                <th>Title</th> 
                <th>Description</th>
                <th>Completed</th>
            </tr>
            <tr *ngFor="let task of mytasks">
                <td>{{task.title}}</td> 
                <td>{{task.description}}</td>
                <td>{{task.completed}}</td>
            </tr>
        </table>
    
</div>

<button (click)="onButtonClick()" >Click me!</button>
<h1 *ngIf="clicked">{{buttontest}}</h1>

<button [routerLink]="['create']">Create a New Task!</button>
<router-outlet></router-outlet>