<!--The content below is only a placeholder and can be replaced.-->
<h1>Should we order some Apps?</h1>



<div>
    

        <table>
            <tr>
                <th>Title</th> 
                <th>Description</th>
                <th>Completed</th>
            </tr>
            <!-- Looping through mytasks -->
            <tr *ngFor="let task of mytasks">
                <td>{{task.title}}</td> 
                <td>{{task.description}}</td>
                <td>{{task.completed}}</td>
            </tr>
        </table>
    
</div>
<!-- Click event triggers -->
<button (click)="onButtonClick()" >Click me!</button>
<!-- condidtional watching variable with boolean -->
<h1 *ngIf="clicked">{{buttontest}}</h1>

<!-- angular routing link -->
<button [routerLink]="['create']">Create a New Task!</button>

<!-- router outlit where it loads upon registered route click -->
<router-outlet></router-outlet>